.tablepress tfoot th,
.tablepress thead th {
	background-color: #424242;
	color: #ffffff;
}

.tablepress td, .tablepress th {
    padding: 8px;
    border: solid 0px;
	background: #ffffff;
}

table td,
th {
	border: solid 1px !important;
	border-color: #424242;
}